:root {
    --one-scale: 20px;
}

body {
    background-color: #333333;
}
.equalizer {
    height: 30vh;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

.scale {
    width: 35px;
    height: var(--one-scale);
    margin-right: 7px;
    border-radius: 7px 7px 0 0;
    background-image: repeating-linear-gradient(to top, transparent, transparent 18px, #333333 18px, #333333 20px), linear-gradient(to bottom, #FFCF57, #FF8D02);
}
.scale-2 {
    height: calc(var(--one-scale) * 2);
}
.scale-3 {
    height: calc(var(--one-scale) * 3);
}
.scale-5 {
    height: calc(var(--one-scale) * 5);
}
.scale-8 {
    height: calc(var(--one-scale) * 8);
}
.scale-10 {
    height: calc(var(--one-scale) * 10);
}